@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 142 76% 96%;
    --sidebar-accent-foreground: 142 76% 36%;
    --sidebar-border: 142 76% 91%;
    --sidebar-ring: 142 76% 59%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 142 76% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142 76% 59%
  }
}

